# This file is a template for the environment variables required by the project.

# Supabase configuration
SUPABASE_URL= https://sweqvobmlntyhyeuurfr.supabase.co
SUPABASE_KEY= sb_publishable_xsqRVFRoQSh0c9wzwc5vxA_Hw9aj9fF
